html {
  box-sizing: border-box;
}

:root {
  --primari-title: #212121;
  --second-title: #ffffff;
  --backgroung-white: #ffffff;
  --primari-background: #e5e5e5;
  --second-background: #f5f4fa;
  --accent-color: #2196f3;
  --text-color: #757575;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --dark-background: #2f303a;
  --border-color-card: #eeeeee;
  --border-header: #ececec;
  --icon-color-second: #afb1b8;
  --icon-color: rgba(255, 255, 255, 0.1);
  --background-hero: #c4c4c4;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --border-form: rgba(33, 33, 33, 0.2);
  --footer-form: rgba(255, 255, 255, 0.3);
  --placeholder-text: rgba(255, 255, 255, 0.6);
  --textarea-placeholder: rgba(117, 117, 117, 0.5);
}

/* Сброс стилей и основные стили*/
.link {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--text-color);

  margin: 0;
  padding-top: 80px;
}

.center {
  text-align: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Визуально скрытый элемент */
.visvally-hiden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: 0;
}

/* Logo  */
.web-logo {
  color: var(--accent-color);
}

.logo-header {
  color: var(--primari-title);
  margin-right: 93px;
}

.logo-footer {
  color: var(--second-title);
}

.web-logo,
.logo-header,
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

/* header */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  background-color: var(--backgroung-white);
}

.site-nav .item {
  position: relative;
}

.nav-header {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primari-title);
  transition: color 250ms var(--cubic);
}

.header .current {
  color: var(--accent-color);
}

.nav-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 4px;
  opacity: 0;
}

.current.nav-header::after {
  opacity: 1;
}

.site-nav {
  display: flex;
}

.header .item:not(:nth-last-child(1)) {
  margin-right: 50px;
}

.header .conteiner {
  display: flex;
  align-items: center;

  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.nav-header:hover,
.nav-header:focus {
  color: var(--accent-color);
}

.header-contacts {
  display: flex;
  align-items: center;
  height: 16px;
  margin-left: auto;
}

.adress-header {
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  fill: currentColor;
  transition: color 250ms var(--cubic);
}

.adress-header:hover,
.adress-header:focus {
  color: var(--accent-color);
}

.header-contacts .icon {
  margin-right: 10px;
}

/* footer */

.footer .conteiner {
  display: flex;
}

.footer {
  background-color: var(--dark-background);
  padding: 60px 0;
}

.logotype {
  margin-bottom: 20px;
}

.contacts {
  display: block;
  width: 231px;
}

.footer-addres {
  display: flex;
  margin-top: 0;
  color: var(--second-title);
  margin-bottom: 9px;
}

.footer-list:not(:last-child) {
  display: block;
  margin-bottom: 9px;
}

.box-logo {
  margin-right: 70px;
}

.networks,
.mailing {
  padding-top: 12px;
}

.networks {
  margin-right: 93px;
}

.networks .paragraph,
.mailing .paragraph {
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--second-title);
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 20px;
}

.icon-footer {
  display: flex;
}

.icon-footer .icon-item {
  display: inline-block;
  width: 44px;
  height: 44px;
}

.icon-footer .link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: var(--icon-color);
  transition: background-color 250ms var(--cubic);
}

.footer .icon {
  fill: var(--second-title);
}

.icon-footer .link:hover,
.icon-footer .link:focus {
  background-color: var(--accent-color);
}

.icon-footer .icon-item:not(:nth-last-child(1)) {
  margin-right: 10px;
}

.mailing .input {
  display: inline;
  box-sizing: border-box;
  width: 356px;
  height: 50px;
  margin-right: 10px;
  padding: 15px 16px;
  border-radius: 4px;
  border: 1px solid var(--footer-form);

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: left;
  background-color: var(--dark-background);
}

.mailing .btn {
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 10px 28px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;

  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  color: var(--second-title);
}

.mailing .icon {
  margin-left: 10px;
}

.mailing .input:placeholder-shown,
.mailing .input:not(:placeholder-shown) {
  color: var(--placeholder-text);
}

/* Герой */
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--background-hero);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/overlay.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding: 200px;
}

.title {
  color: var(--second-title);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
}

.title-hero {
  width: 696px;
  margin: 0 auto;
}

.btn-hero {
  display: inline-block;
  flex-basis: 200px;
  border: 0;
  border-radius: 4px;
  padding: 10px 32px;
  cursor: pointer;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--second-title);
  background-color: var(--accent-color);
}

/*  преимуществa компании*/
.company {
  padding-top: 94px;
}

.title-advantage,
.title-list {
  color: var(--primari-title);
}

.title-advantage {
  font-size: 36px;
  font-weight: 700;

  margin-top: 0;
  margin-bottom: 50px;
}

.company .list-company {
  display: flex;
  justify-content: space-around;
  margin-left: -30px;
}

.adv-list {
  width: calc((100% - 90px) / 4);
}

.adv-list {
  margin-left: 30px;
}

.title-list {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 10px;
}

.company .point {
  line-height: 1.7;

  margin-top: 0;
  margin-bottom: 0;
}

.company .box {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--second-background);
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.adv-list .icon {
  width: 70px;
  height: 70px;
}

.adv-list .list-network {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;

  background: var(--second-background);
  border-radius: 4px;
  margin-bottom: 30px;
}

/* Works */
.works {
  display: flex;
  justify-content: space-between;
}

.works .item-work {
  width: calc((100% - 60px) / 3);
}

.works .link-work {
  position: relative;

  display: block;
  width: 100%;
  height: 100%;
  padding-bottom: 0;
}

.photo-works {
  display: block;
  width: 100%;
  height: 100%;
}

.title-work {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  width: 100%;
  height: 70px;
  margin: 0;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  line-height: 1.14;

  text-transform: uppercase;
  color: var(--second-title);
  background: rgba(47, 48, 58, 0.8);
}

/* team */
.team {
  font-size: 16px;
  line-height: 2;

  background-color: var(--second-background);
}

.photo-team .title-item {
  font-weight: 500;
  line-height: 1.14;

  color: var(--primari-title);

  margin-top: 0;
  margin-bottom: 10px;
}

.card-team {
  display: flex;
  justify-content: space-between;
}

.card-team .photo-team {
  border: 0;
  width: calc((100% - 90px) / 4);
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--backgroung-white);
}

.team .img-photo {
  margin-bottom: 30px;
  width: 100%;
}

.photo-team .list-network {
  display: flex;
  flex-basis: 100%;
  padding-left: 32px;
  padding-right: 32px;
  justify-content: space-between;
}

.photo-team .icon {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 0;

  color: var(--icon-color-second);
}

.photo-team .list {
  display: flex;
}

.list-network .item-network {
  display: inline-block;
  width: 44px;
  height: 44px;
}

.list-network .link-icon {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  color: var(--icon-color-second);
  fill: currentColor;
  transition: fill 250ms var(--cubic), background-color 250ms var(--cubic);
}

.list-network .link-icon:hover,
.list-network .link-icon:focus {
  background-color: var(--accent-color);
  fill: var(--second-background);
}

/* clients */
.clients-list {
  display: flex;
  margin-left: -30px;
  height: 90px;
}

.item-client {
  display: flex;
  width: calc((100% - 150px) / 6);
  height: 100%;
  margin-left: 30px;
}

.item-client .link-company {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  color: var(--icon-color-second);
  border: 1px solid var(--icon-color-second);
  border-radius: 4px;
  fill: currentColor;
  transition: color 250ms var(--cubic), border 250ms var(--cubic);
}

.item-client .link-company:hover,
.item-client .link-company:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* Страница пoртфолио */
/* кнопки */
.portfolio .buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-left: -8px;
}

.filter {
  display: block;
}

.button-portfolio {
  display: block;

  font-family: Roboto, sans-serif;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;

  background-color: var(--second-background);
  color: var(--primari-title);

  border: 2px solid transparent;
  padding: 6px 22px;
  border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 0;

  cursor: pointer;
  transition: box-shadow 250ms var(--cubic), color 250ms var(--cubic),
    background-color 250ms var(--cubic);
}

.button-list {
  margin-left: 8px;
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--accent-color);
  color: var(--second-title);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/* работы портфолио */
.portfolio {
  box-sizing: border-box;
}

.header-portfolio {
  border-bottom: 1px solid var(--border-header);
}

.list-portfolio {
  font-size: 16px;
  line-height: 2;

  display: flex;

  position: relative;
  flex-wrap: wrap;
  margin: -30px 0 0 -30px;

  background-color: var(--backgroung-white);
  border: 0;
}

.item-portfolio {
  max-width: calc(100% / 3 - 30px);
  margin: 30px 0 0 30px;
}

.link-portfolio {
  display: inline-block;

  width: 100%;
  height: 100%;
  border: 1px solid var(--border-color-card);

  text-decoration: none;
  color: inherit;
  font-style: normal;
  transition: box-shadow 250ms var(--cubic), border 250ms var(--cubic);
}

.overlay-portfolio .photo {
  display: block;
  width: 100%;
}

.item-portfolio .link-portfolio:focus,
.item-portfolio .link-portfolio:hover {
  border: 1px solid var(--border-color-card);
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.box-card {
  padding: 20px 24px;
}

.box-card .paragraph-portfolio {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.title-portfolio {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;

  color: var(--primari-title);
  margin-top: 0;
  margin-bottom: 4px;
}

/* overlay-portfolio */

.overlay-portfolio {
  position: relative;
  width: 100%;
  font-size: 18px;
  line-height: 1.56;
  color: var(--second-title);
  overflow: hidden;
}

.conteiner-overlay {
  position: absolute;
  display: block;
  box-sizing: border-box;
  padding: 63px 24px;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transition: transform 250ms var(--cubic);
  transform: translate(-50%, +100%);
  background-color: rgba(33, 150, 243, 0.9);
}

.text-overlay {
  width: 100%;
}

.link-portfolio:hover .conteiner-overlay,
.link-portfolio:focus .conteiner-overlay {
  transform: translate(-50%, -50%);
}

/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--cubic);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: scale 250ms var(--cubic), opacity 250ms var(--cubic);

  width: 528px;
  background-color: var(--backgroung-white);
  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0;
}

.backdrop .btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--backgroung-white);
  border-radius: 50%;
  margin-left: auto;
  cursor: pointer;
}

.backdrop .btn:hover,
.backdrop .btn:focus {
  fill: var(--accent-color);
}

/* form-modal */
.form-modal .text {
  display: block;
  margin-bottom: 12px;

  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  color: var(--primari-title);
  text-align: center;
}

.form-modal .wrap {
  display: flex;
  flex-direction: column;
  
  }

.form-modal .text-lable {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

.form-modal .input {
  border: 1px solid var(--border-form);
  border-radius: 4px;
  height: 40px;
  padding: 0;
  width: 100%;
  padding: 12px 12px 12px 42px;
  transition: border-color 250ms var(--cubic), outline-color 250ms var(--cubic);
  cursor: pointer;
}

.form-modal .textarea {
  resize: none;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid var(--border-form);
  border-radius: 4px;
  transition: border-color 250ms var(--cubic), outline-color 250ms var(--cubic);
  cursor: pointer;  
  }

.form-modal .textarea::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.01em;
}


.form-modal .link-modal {
  color: var(--accent-color);
}

.form-modal .label-checkbox {
  display: block;
  position: relative;
  margin-bottom: 30px;
}

.form-modal .icon-check {
  position: absolute;
  top: 50%;
  left: -23px;
  transform: translateY(-50%);
  display: inline-block;
  width: 16px;
  height: 15px;
  background-image: url(../images/icon-check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
  border: 2px solid var(--primari-title);
  border-radius: 4px;
  transition: background-color 250ms var(--cubic),
    border-color 250ms var(--cubic);
}

.form-modal .checkbox:checked ~ .icon-check {
  border-color: transparent;
  background-color: var(--accent-color);
}

.form-modal .btn-submit {
  display: block;
  color: var(--second-title);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: 0;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;

  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.form-modal textarea::placeholder {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--textarea-placeholder);
}
.form-modal .label-checkbox {
  margin-left: 37px;
}

.form-modal .icon {
  position: absolute;
  top: 50%;

  left: 21px;
  transform: translate(-50%, -50%);
  color: var(--primari-title);
  fill: currentColor;
  transition: color 250ms var(--cubic);
}

.form-modal .input:focus-within + .icon,
.form-modal .input:not(:placeholder-shown) + .icon {
  color: var(--accent-color);
}

.form-modal .input:focus,
.form-modal .textarea:focus {
  border-color: var(--accent-color);
  outline: var(--accent-color);
}

.conteiner-form {
  width: 100%;
  margin-bottom: 10px;
  
}

 .form-modal .comments {
  margin-bottom: 20px;
   
}
.form-modal .box {
  position: relative;
  display: inline-flex;
  width: 100%;
  }
