html {
  box-sizing: border-box;
}

:root {
  --primari-title: #212121;
  --second-title: #ffffff;
  --backgroung-white: #ffffff;
  --primari-background: #e5e5e5;
  --second-background: #f5f4fa;
  --accent-color: #2196f3;
  --text-color: #757575;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --dark-background: #2f303a;
  --border-color-card: #eeeeee;
  --border-header: #ececec;
  --icon-color-second: #afb1b8;
  --icon-color: rgba(255, 255, 255, 0.1);
  --background-hero: #c4c4c4;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --border-form: rgba(33, 33, 33, 0.2);
  --footer-form: rgba(255, 255, 255, 0.3);
  --placeholder-text: rgba(255, 255, 255, 0.6);
  --textarea-placeholder: rgba(117, 117, 117, 0.5);
}

/* Сброс стилей и основные стили*/
a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--text-color);

  margin: 0;
  padding-top: 80px;
}

.center {
  text-align: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Визуально скрытый элемент */
.visvally-hiden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: 0;
}

/* header */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  background-color: var(--backgroung-white);
}

.header__conteiner {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;

  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo__text {
  color: var(--accent-color);
}

.logo__text--dark {
  color: var(--primari-title);
}

.site-nav {
  display: flex;
}

.site-nav__item {
  position: relative;
}

.site-nav__item:not(:nth-last-child(1)) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primari-title);
  transition: color 250ms var(--cubic);
}

.site-nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 4px;
  opacity: 0;
}

.site-nav__link--current {
  color: var(--accent-color);
}

.site-nav__link--current::after {
  opacity: 1;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

.header-contacts {
  display: flex;
  align-items: center;
  height: 16px;
  margin-left: auto;
}

.header-contacts__link {
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  fill: currentColor;
  transition: color 250ms var(--cubic);
}

.header-contacts__link:first-child {
  margin-right: 30px;
}

.header-contacts__link:hover,
.header-contacts__link:focus {
  color: var(--accent-color);
}

.header-contacts__icon {
  margin-right: 10px;
}

/* footer */
.footer {
  background-color: var(--dark-background);
  padding: 60px 0;
}

.footer__conteiner {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.logo__text--white {
  color: var(--second-title);
}

.address {
  display: block;
  width: 231px;
}

.address__text {
  display: flex;
  margin-top: 0;
  font-style: normal;
  color: var(--second-title);
  margin-bottom: 9px;
}

.contacts-list__item:not(:last-child) {
  display: block;
  margin-bottom: 9px;
}

.contacts-list__link {
  display: block;
}

.networks-conteiner,
.mailing-form {
  padding-top: 12px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--second-title);
  text-transform: uppercase;
}

.networks-conteiner__title,
.mailing-form__title {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
}

.social-networks__item {
  display: inline-block;
  width: 44px;
  height: 44px;
}

.social-networks__item:not(:nth-last-child(1)) {
  margin-right: 10px;
}

.social-networks__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 50%;

  background-color: var(--icon-color);
  transition: background-color 250ms var(--cubic);
}

.social-networks__icon {
  fill: currentColor;
}

.social-networks__link:hover,
.social-networks__link:focus {
  background-color: var(--accent-color);
}

/* footer-form */
.mailing-form__input {
  display: inline;
  box-sizing: border-box;
  width: 356px;
  height: 50px;
  margin-right: 10px;
  padding: 15px 16px;
  border-radius: 4px;
  border: 1px solid var(--footer-form);

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: left;
  background-color: var(--dark-background);
}

.mailing-btn {
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 10px 28px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;

  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  color: var(--second-title);
}

.mailing-btn__icon {
  margin-left: 10px;
}

.mailing-form__input:placeholder-shown,
.mailing-form__input:not(:placeholder-shown) {
  color: var(--placeholder-text);
}

/* hero */

.hero {
  text-align: center;
}

.hero-overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px;

  background-color: var(--background-hero);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/overlay.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-wrapper {
  width: 696px;
  margin: 0 auto;
}

.hero__title {
  margin: 0 auto 30px;

  color: var(--second-title);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-btn {
  display: inline-block;
  flex-basis: 200px;
  border: 0;
  border-radius: 4px;
  padding: 10px 32px;
  cursor: pointer;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--second-title);
  background-color: var(--accent-color);
}

/*  преимуществa компании*/
.advantages {
  padding-top: 94px;
}

.advantages-list {
  display: flex;
  justify-content: space-around;
  margin-left: -30px;
}

.advantages-list__item {
  width: calc((100% - 90px) / 4);
  margin-left: 30px;
}

.advantages-list__wrap {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--second-background);
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.advantages-list__icon {
  width: 70px;
  height: 70px;
}

.advantages-list__title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primari-title);
}

.advantages-list__text {
  margin-top: 0;
  margin-bottom: 0;
}

/* specialization */
.sub-title {
  margin-top: 0;
  margin-bottom: 50px;

  text-align: center;
  color: var(--primari-title);
  font-size: 36px;
  font-weight: 700;
}

.specialization-items {
  display: flex;
  justify-content: space-between;
}

.specialization-type {
  width: calc((100% - 60px) / 3);
}

.specialization-type__link {
  position: relative;

  display: block;
  width: 100%;
  height: 100%;
  padding-bottom: 0;
}

.specialization-type__photo {
  display: block;
  width: 100%;
  height: 100%;
}

.specialization-type__title {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  width: 100%;
  height: 70px;
  margin: 0;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--second-title);
  background: rgba(47, 48, 58, 0.8);
}

/* team */
.team {
  font-size: 16px;
  line-height: 2;

  background-color: var(--second-background);
}

.team-items {
  display: flex;
  justify-content: space-between;
}

.team-card {
  border: 0;
  width: calc((100% - 90px) / 4);
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--backgroung-white);
  text-align: center;
}

.team-card__photo {
  display: block;
  margin-bottom: 30px;
  width: 100%;
}

.team-card__function {
  margin: 0 0 16px;
}

.team-card__name {
  font-weight: 500;
  line-height: 1.14;
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--primari-title);
}

.social-networks--location {
  display: flex;
  justify-content: space-between;
  padding: 0 32px;
  color: var(--icon-color-second);
}

.social-networks__link--effects {
  transition: fill 250ms var(--cubic), background-color 250ms var(--cubic);
}

.social-networks__link--effects:hover,
.social-networks__link--effects:focus {
  background-color: var(--accent-color);
  color: var(--second-title);
}

/* clients */
.clients-list {
  display: flex;
  margin-left: -30px;
  height: 90px;
}

.clients-list__item {
  display: flex;
  width: calc((100% - 150px) / 6);
  height: 100%;
  margin-left: 30px;
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  color: var(--icon-color-second);
  border: 1px solid var(--icon-color-second);
  border-radius: 4px;
  fill: currentColor;
  transition: color 250ms var(--cubic), border 250ms var(--cubic);
}

.clients-list__link:hover,
.clients-list__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* Страница пoртфолио */
/* header */
.conteiner__header {
  border-bottom: 1px solid var(--border-header);
}

/* кнопки */
.butons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-left: -8px;
}

.butons-list__item {
  margin-left: 8px;
}

.butons-list__btn {
  display: block;

  font-family: Roboto, sans-serif;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;

  background-color: var(--second-background);
  color: var(--primari-title);

  border: 2px solid transparent;
  padding: 6px 22px;
  border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 0;

  cursor: pointer;
  transition: box-shadow 250ms var(--cubic), color 250ms var(--cubic),
    background-color 250ms var(--cubic);
}

.butons-list__btn:hover,
.butons-list__btn:focus {
  background-color: var(--accent-color);
  color: var(--second-title);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/* работы портфолио */

.portfolio-list {
  font-size: 16px;
  line-height: 2;

  display: flex;

  position: relative;
  flex-wrap: wrap;
  margin: -30px 0 0 -30px;

  background-color: var(--backgroung-white);
  border: 0;
}

.portfolio-item {
  max-width: calc(100% / 3 - 30px);
  margin: 30px 0 0 30px;
}

.portfolio-item__link {
  display: inline-block;

  width: 100%;
  height: 100%;
  border: 1px solid var(--border-color-card);

  text-decoration: none;
  color: inherit;
  font-style: normal;
  transition: box-shadow 250ms var(--cubic), border 250ms var(--cubic);
}

.portfolio-item__link:focus,
.portfolio-item__link:hover {
  border: 1px solid var(--border-color-card);
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.portfolio-item__link:hover .portfolio-item__overlay,
.portfolio-item__link:focus .portfolio-item__overlay {
  transform: translate(-50%, -50%);
}

.portfolio-item__wrap {
  position: relative;
  width: 100%;
  font-size: 18px;
  line-height: 1.56;
  color: var(--second-title);
  overflow: hidden;
}

.portfolio-item__photo {
  display: block;
  width: 100%;
}

.portfolio-item__overlay {
  position: absolute;
  display: block;
  box-sizing: border-box;
  padding: 63px 24px;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transition: transform 250ms var(--cubic);
  transform: translate(-50%, +100%);
  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio-item__info {
  width: 100%;
}

.portfolio-item__conteiner {
  padding: 20px 24px;
}

.portfolio-item__title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;

  color: var(--primari-title);
  margin-top: 0;
  margin-bottom: 4px;
}

.portfolio-item__text {
  margin-top: 0;
  margin-bottom: 0;
}

/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--cubic);
}

.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: scale 250ms var(--cubic), opacity 250ms var(--cubic);

  width: 528px;
  background-color: var(--backgroung-white);
  padding: 40px;
}

.backdrop.backdrop--hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--backgroung-white);
  border-radius: 50%;
  margin-left: auto;
  cursor: pointer;
}

.btn-close:hover,
.btn-close:focus {
  fill: var(--accent-color);
}

/* form-modal */
.form-modal__call {
  display: block;
  margin-bottom: 12px;

  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  color: var(--primari-title);
  text-align: center;
}

.form-conteiner {
  display: block;
  margin-bottom: 10px;
}

.form-lable {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-lable__text {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

.form-lable__wrap {
  position: relative;
  display: inline-flex;
  width: 100%;
}

.form-lable__input {
  border: 1px solid var(--border-form);
  border-radius: 4px;
  height: 40px;
  padding: 0;
  width: 100%;
  padding: 12px 12px 12px 42px;
  transition: border-color 250ms var(--cubic), outline-color 250ms var(--cubic);
  cursor: pointer;
}

.form-lable__textarea {
  resize: none;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid var(--border-form);
  border-radius: 4px;
  transition: border-color 250ms var(--cubic), outline-color 250ms var(--cubic);
  cursor: pointer;
}

.form-lable__textarea::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.01em;
}

.label-check {
  display: block;
  position: relative;
  margin-bottom: 30px;
}

.label-check__link {
  color: var(--accent-color);
}

.label-check__box {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: -23px;
  transform: translateY(-50%);

  color: var(--primari-title);
  fill: currentColor;

  width: 16px;
  height: 15px;
  background-image: url(../images/icon-check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
  border: 2px solid var(--primari-title);
  border-radius: 4px;
  transition: background-color 250ms var(--cubic),
    border-color 250ms var(--cubic);
}

.label-check__input:checked ~ .label-check__box {
  border-color: transparent;
  background-color: var(--accent-color);
}

.btn-submit {
  display: block;
  color: var(--second-title);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: 0;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;

  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.form-modal textarea::placeholder {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--textarea-placeholder);
}
.label-check {
  margin-left: 37px;
}

.form-lable__icon {
  position: absolute;
  top: 50%;

  left: 21px;
  transform: translate(-50%, -50%);
  color: var(--primari-title);
  fill: currentColor;
  transition: color 250ms var(--cubic);
}

.form-lable__input:focus-within ~ .form-lable__icon,
.form-lable__input:not(:placeholder-shown) ~ .form-lable__icon {
  color: var(--accent-color);
}

.form-lable__input:focus,
.form-lable__textarea:focus {
  border-color: var(--accent-color);
  outline: var(--accent-color);
}

.form-conteiner--indent {
  margin-bottom: 20px;
}
