.footer {
  background-color: $dark-background;
  padding: 60px 0;
  .footer__conteiner {
    display: flex;
    justify-content: space-between;
  }
}

.address {
  display: block;
  width: 231px;
  .address__text {
    display: flex;
    margin-top: 0;
    font-style: normal;
    color: $second-title;
    margin-bottom: 9px;
  }
}

.contacts-list {
  .contacts-list__item {
    &:not(:last-child) {
      display: block;
      margin-bottom: 9px;
    }
    .contacts-list__link {
      display: block;
    }
  }
}

.networks-conteiner,
.mailing-form {
  padding-top: 12px;
  font-weight: $bold;
  line-height: $min-line-height;
  color: $second-title;
  text-transform: uppercase;
  .networks-conteiner__title,
  .mailing-form__title {
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
  }
}
