.logo {
  font-family: "Raleway", sans-serif;
  font-weight: $bold;
  font-size: $large;
  line-height: $base-line-height;
  letter-spacing: $base-letter-spacing;
  margin-right: 93px;
  .logo__text {
    color: $accent-color;
  }
  .logo__text--dark {
    color: $primari-title;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  .logo__text--white {
    color: $second-title;
  }
}
