body {
  font-family: Roboto, sans-serif;
  font-size: $xx-small;
  font-weight: $regular;
  line-height: $base-line-height;
  letter-spacing: $base-letter-spacing;

  color: $text-color;

  margin: 0;
  padding-top: 80px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: 0;
}

.sub-title {
  margin-top: 0;
  margin-bottom: 50px;

  text-align: center;
  color: $primari-title;
  font-size: $x-large;
  font-weight: $bold;
}
