$primari-title: #212121;
$second-title: #ffffff;
$backgroung-white: #ffffff;
$primari-background: #e5e5e5;
$second-background: #f5f4fa;
$accent-color: #2196f3;
$text-color: #757575;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$dark-background: #2f303a;
$light-gray: #eeeeee;
$second-gray: #ececec;
$icon-color-second: #afb1b8;
$icon-color: rgba(255, 255, 255, 0.1);
$color-hero: #c4c4c4;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$color-border-form: rgba(33, 33, 33, 0.2);
$form-grey: rgba(255, 255, 255, 0.3);
$placeholder-text: rgba(255, 255, 255, 0.6);
$placeholder-color: rgba(117, 117, 117, 0.5);
$overlay-title-black: rgba(47, 48, 58, 0.8);

//   Шрифты
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;
$xxx-small: 12px;
$xx-small: 14px;
$x-small: 16px;
$small: 18px;
$medium: 20px;
$large: 26px;
$x-large: 36px;
$xx-large: 44px;

$min-line-height: 1.2;
$average--line-height: 1.36;
$base-line-height: 1.7;
$max-line-height: 1.9;

$min-letter-spacing: 0.01em;
$average-letter-spacing: 0.02em;
$base-letter-spacing: 0.03em;
$max-letter-spacing: 0.06em;
